.build-last-commit
.env
.react-router/
/.cache
/app/generated/prisma
/build
/prisma/dev.db
/prisma/dev.db-journal
/public/build
node_modules
/dist-electron
/release
.electron-build
asar-check2/
asar-temp/
main.js
preload.js